/*//META{"name": "Little Big Planet", "description": "A Little Big Planet based theme. (v2 version exists already as well)", "author": "Mondanzo (Furry (Gay)#1815)", "version": "1.1.0", "source": "https://github.com/Mondanzo/BD/tree/master/LBP", "website": "https://bd.mondanzo.de/#lbp"}*//* */

@import url(https://rawcdn.githack.com/Mondanzo/BD/b184e14f64e431f907070774a99b36e64e3a41f3/LBP/source.css);

/*VARIABLES */
:root {
	--popitPrimaryTransparent: rgba(133, 38, 211, 0.4);
	--popitSecondaryTransparent: rgba(188, 38, 211, 0.4);
	--popitPrimary: #8526D3;
	--popitSecondary: #bc26d3;
	--background: url("https://i.imgur.com/Yr7IC27.jpg");
}