/**
 * @name LittleBigPlanet 2
 * @author Cinna Cat Cwunch
 * @version 1.1.3
 * @description A Little Big Planet based theme. (A version for BDv2 exists already as well)
 * @source https://github.com/some-username-here1/BD-Theme-LBP2
 * @website https://www.celestialcwunch.xyz/
 * @invite 
 */

/* Credits to Mondanzo for the original theme. */

@import url(https://raw.githubusercontent.com/some-username-here1/BD-Theme-LBP2/master/LBP/source.css);

/*VARIABLES */
:root {
	--popitPrimaryTransparent: rgba(133, 38, 211, 0.4);
	--popitSecondaryTransparent: rgba(188, 38, 211, 0.4);
	--popitPrimary: #8526D3;
	--popitSecondary: #bc26d3;
	--background: url("https://i.imgur.com/Yr7IC27.jpeg");
}
